/* contact_main */
.contact_main_title_icon{
    width: 2.3rem;
}
.contact_main_title{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.contact_main_tel{
    display: flex;
    color: #976149;
    justify-content: center;
    align-items: center;
    gap: .7rem;
}
.contact_main_line{
    width: 1px;
    background-color: #333;
    margin-block: 1rem;
    height: 1.5rem;
    margin-inline: auto;
}
.contact_main{
    background: url(/assets/images/contact_main_bg.jpg) top;
    background-size: cover;
    width: 100%;
    background-attachment: local;
    background-position: center;
}
/* contact_form */
.contact_form{
    .contact_main_title{
        margin-bottom: 8rem;
    }
}
.contact_form{
    background-color: #F5F2E9;
}
.contact_form_inner{
    padding-block: 8rem 12rem;
    padding-inline: 12.5%;
    background-color: #fff;
}
.contact_form_type_label{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
}
.contact_form_type_label_txt{
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2.4px;
    color: #743600;
}
.contact_form_type_label_sub{
    background: #c20000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0;
    height: 1.8rem;
    width: 4.8rem;
}
.contact_form_item{
    padding-block: 2rem;
    border-bottom: 1px solid #f2f2f2;
    padding-inline: 5%;
}
.contact_form_type_item{
    cursor: pointer;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    input{
        position: absolute;
        z-index: -1;
        &:checked + label::after{
            background-color: #333;
        }
    }
    label{
        cursor: pointer;
        overflow: hidden;
        position: relative;
        padding-left: 3.4rem;
        font-size: 1.4rem;
        letter-spacing: 2.2px;
        line-height: 2.5rem;
        margin-bottom: 0px;
        position: relative;
        &::before{
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 50%;
            border: 1px solid #ccc;
            position: absolute;
            left: 0px;
            top: 0px;
            content: "";
            z-index: 3;
        }
        &::after{
                content: "";
                position: absolute;
                width: 1rem;
                height: 1rem;
                border-radius: 100%;
                left: .75rem;
                top: .7rem;
                margin: auto;
                background-color: #fff;
                z-index: 1;
        }

    }
}
.contact_form_item>input{
    height: 4rem;
    display: flex;
    align-items: center;
    border: 1px solid #cccccc;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    letter-spacing: 2px;
}
.contact_form_item>textarea{
    border: 1px solid #cccccc;
    height: 26rem;
    width: 100%;
    max-width: 76rem;
    padding: 0 1.5rem;
}
.input_400{
    input{
        width: 40rem;
    }
}
.input_600{
    input{
        width: 60rem;
    }
}
.contact_form_policy{
    display: flex;
    margin-top: 10rem;
    margin-bottom: 3.5rem;
    justify-content: center;
    a{
        text-decoration: underline;
        color: #c08d5e;
        font-weight: bold;
    }
    p{
      margin: 0;  
    }
}
.contact_form_check{
    margin-bottom: 8rem;
    label{
        cursor: pointer;
        position: relative;
        padding-left: 3.1rem;
        letter-spacing: 2.2px;
        line-height: 2.2rem;
        margin-bottom: 0px;
        overflow: hidden;
        box-sizing: border-box;
        &::before{
            content: "";
            position: absolute;
            width: 2.1rem;
            height: 2.1rem;
            left: 0px;
            top: -.3rem;
            border: 1px solid #666666;
            z-index: 3;
        }
        &::after{
            content: "";
            position: absolute;
            top: .7rem;
            left: .6rem;
            display: block;
            margin-top: -.8rem;
            width: .8rem;
            height: 1.2rem;
            border-color: unset;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            z-index: 1;
        }
    }
    input{
        z-index: -1;
        position: absolute;
        margin: 0;
        &:checked + label::after{
            border-right: .3rem solid #743600;
            border-bottom: .3rem solid #743600;
        }
    }
}
.contact_form_submit{
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38rem;
    height: 6rem;
    font-weight: 500;
    letter-spacing: 2.5px;
    cursor: pointer;
    z-index: 1;
    position: relative;
    transition: all .4s ease;
    opacity: .5;
    &.active{
        opacity: 1;
        &::before{
            background: transparent linear-gradient(99deg, #743600 0%, #d1a985 64%, #ae6938 100%) 0% 0% no-repeat padding-box !important;
        }
        &::after{
            background: #743600 !important;
        }
    }
    &::before{
        content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    transition: 0.3s;
    background: transparent
    linear-gradient(99deg, #999999 0%, #999999 64%, #999999 100%) 0% 0%
    no-repeat padding-box !important;
    }
    &::after{
        content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    left: 0;
    top: 0;
    background: #743600;
    background: transparent linear-gradient(99deg, #999999 0%, #999999 64%, #999999 100%) 0% 0% no-repeat padding-box !important;
    }
}