
html {
  font-size: 10px;
  scroll-behavior: smooth;
}
:root {
  --padding-container : 5rem;
}
p{
  margin-bottom: 0;
}
a{
  text-decoration: none;
  display: block;
  color: #3B3B3B;
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Inter-Regular.woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Inter-Medium.woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Inter-SemiBold.woff2");
}
@font-face {
  font-family: "BeVietnamPro";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/BeVietnamPro-Medium.woff2");
}
*{
  box-sizing: border-box;
}
.border_line{
  position: relative;
  width: max-content;
  &>div{
    content: "";
    background-color: #7F7F7F;
    width: 0;
    height: 1px;
    left: 0;
    position: absolute;
    transition: all .3s ease;
    bottom: 0;
  }
  &:hover>div{
    width: 100%;
  }
}
body {
  margin: 0 !important;
  font-family: "Inter";
  color: #333333;
  line-height: 1.5;
  font-size: 1.4rem;
}
.kl_container {
  width: 90%;
  margin: auto;
  max-width: 1200px;
  /* padding-inline: var(--padding-container); */
}
.kl_grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
.hidden{
  display: none;
}
h1, h2{
  margin: 0;
}
@media only screen and (max-width: 1300px) {
  :root {
    --padding-container : 2rem;
  }
  html {
    font-size: 0.76923076923vw;
  }
}
@media only screen and (max-width: 991px) {
  :root {
    --padding-container : 2rem;
  }
  html {
    font-size: 1.30208333333vw;
  }
}
@media only screen and (max-width: 767px) {
  :root {
    --padding-container : 2rem;
  }
  html {
    font-size: 2.27272727273vw;
  }
}
.home_hero_des_link{
    margin-top: 3.2rem;
}
.home_hero_des_link_txt{
    color: #1D1D1D;
}
.home_hero_des_link{
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 1.2rem 2.4rem;
    align-items: center;
    gap: .8rem;
    width: 17.5rem;
    border-radius: 4.5rem;
    cursor: pointer;
    border: none !important;
}
.home_hero_des_link_icon{
    width: 2rem;
}
/* <a href="#" class="home_hero_des_link txt_uppercase">
                    <div class="home_hero_des_link_txt txt_16">order now</div>
                    <div class="home_hero_des_link_icon img_full">
                        <img src="/asset/img/arrow-up-right.svg" alt="">
                    </div>
                </a> */
.img_abs{
  position: relative;
  img{
    position: absolute;
    inset: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
.svg_full{
  width: 100%;
}
.pa_section{
  padding-block: 12rem;
}
.block_title{
  position: relative;
  padding-left: 2rem;
  &::before{
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      background-color: #1D1D1D;
      content: "";
      left: 0;
      top: 50%;
      transform: translateY(-50%);
  }

}
.txt_title{
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: .35rem;
    margin-bottom: 1rem;
    font-family: 'BeVietnamPro';
}
.txt_title_big {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: 'BeVietnamPro';
  margin-bottom: 1rem;
}
.txt_title_hero {
  font-size: 7.2rem;
  line-height: 1.2;
  font-weight: 700;
  font-family: 'BeVietnamPro';
  margin-bottom: 1rem;
}
.txt_subtitle{
  font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #ae6938;
}
.txt_bold {
  font-weight: 700;
}

.txt_10{
    font-size: 1rem;
}
.txt_12{
    font-size: 1.2rem;
    letter-spacing: .2rem;
}
.txt_13{
    font-size: 1.3rem;
}
.txt_15{
    font-size: 1.5rem;
    letter-spacing: .25rem;
}
.txt_16{
    font-size: 1.6rem;
    letter-spacing: .25rem;
}
.txt_16{
    font-size: 1.6rem;
    letter-spacing: .256rem;
}
.txt_18{
    font-size: 1.8rem;
    letter-spacing: .28rem;
}
.txt_20{
    font-size: 2rem;
    letter-spacing: .3rem;
}
.txt_22{
    font-size: 2.2rem;
    letter-spacing: .35rem;
    line-height: 3rem;
}
.txt_40{
    font-size: 4rem;
    letter-spacing: .6rem;
    line-height: 1;
}
.left_full {
  margin-left: calc(var(--padding-container)*-1);
}
.right_full {
  margin-right: calc(var(--padding-container)*-1);
}
.img_full{
  display: flex;
}
.img_full img{
  width: 100%;
  object-fit: cover;
}
.img_fullfill img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.txt_justify {
  text-align: justify;
}
.txt_center{
  text-align: center;
}
.txt_title_color{
  color: #1D1D1D;
  p{
    margin-bottom:0;
  }
}
.txt_opacity_70{
  opacity: .7;
}
.img_radius{
  border-radius: 2rem;
}
.bg_line{
  background: #F5F5F5 url('/assets/img/bg_line.png') repeat;
  background-size: auto;
}
.tablet{
  display: none;
}
.mobile{
  display: none !important;
}
.txt_uppercase{
  text-transform: uppercase;
}
.txt_wh_500{
  font-weight: 500;
}
.color_white{
  color: #fff;
}
.overflow_hidden {
  overflow: hidden;
}
@media only screen and (max-width: 991px){
  .desktop{
    display: none !important;
  }
  .kl_grid {
  column-gap: 2rem;
}
  .tablet{
    display: block;
  }
  
.home_hero_des_link{
    margin-top: 2.2rem;
}
.home_hero_des_link{
    padding: 1.2rem 1.2rem;
    gap: .8rem;
    width: 13.5rem;
}
.home_hero_des_link_icon{
    width: 2rem;
}
.block_title{
  padding-left: 1.5rem;
  &::before{
      width: 1rem;
      height: 1rem;
  }

}
.txt_40{
  font-size: 3rem;
}
}
@media only screen and (max-width: 767px){
  .pa_section{
    padding-block: 6rem 8rem;
  }
  .mobile{
    display: block;
  }
  .middle{
    display: none;
  }
.txt_18{
  font-size: 1.1rem;
}
.txt_20{
    font-size: 1.5rem;
}
.kl_grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem;
}
.txt_center_mb{
  text-align: center;
}
.bg_line_mb{
  background: url('/assets/img/line-th2.png') repeat;
  background-size: auto;
}

.txt_subtitle{
  font-size: 1.4rem;
  font-weight: 700;
}
.home_hero_des_link{
    margin-top: 1.5rem;
}
.home_hero_des_link{
    padding: .7rem;
    gap: .4rem;
    width: 12.5rem;
}
.home_hero_des_link_icon{
    width: 2rem;
}
.block_title{
  padding-left: 1.5rem;
  &::before{
      width: .8rem;
      height: .8rem;
  }

}
}


/* header */

.header{
    background-color: rgb(0, 0, 0);
    display: flex;
    padding-left: 4rem;
    justify-content: space-between;
}
.header_menu_item{
    padding-inline: 3rem;
    padding-block: 2rem;
    .txt_subtitle{
      color: #d1a985 ;
    }
    &:hover{
      .header_menu_item_ja{
        color: #f5ede6 !important;
      }
    }
  }
  .header_menu_item_ja{
    color: #fff;
    transition: all .4s ease;
}
.header_menu{
    .header_menu_item:nth-last-child(2){
        padding-inline: .8rem;
        background-color: #c08d5e;
        transition: all .4s ease;
        &:hover{
            background-color: #ae6938;
        }
        .header_menu_item_ja{
          text-align: center;
        }
        .header_menu_item_en{
          text-align: center !important;
            color: #fff !important;
        }
    }
    .header_menu_item:nth-last-child(1){
        padding-inline: 3.5rem;
        background-color: #743600;
        transition: all .4s ease;
        &:hover{
            background-color: #582900;
        }
        .header_menu_item_ja{
          text-align: center;
        }
        .header_menu_item_en{
          text-align: center !important;
            color: #fff !important;
        }
    }
}
.header_menu_inner{
    display: flex;
    height: 100%;
}
.header_logo{
    width: 12.7rem;
    padding-block: 2rem;
}
.header_menu_item_ja{
    font-weight: 500;
    letter-spacing: .4rem;

}
@media screen and (max-width:991px) {
    .header_menu_item{
        padding: 2rem 2.5rem;
    }
    .header_menu_item_ja{
        letter-spacing: 1px;
    }
}
@media screen and (max-width:767px) {
  .header{
    padding-left: 2rem;
  }
  .header_logo{
   padding-block: 1.6rem; 
  }
  .header_menu{
    opacity: 0;
    pointer-events: none;
    transition: all .4s ease;
    position: fixed;
    z-index: 1111;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.9);
    &.active{
      opacity: 1;
      pointer-events: all;
    }
  }
  .header_menu_item{
    .txt_title{
      font-size: .7rem;
    }
  }
  .header_menu{
    .header_menu_item:nth-last-child(2){
      order: 5;
      width: 16rem;
      margin-inline: auto;
      padding: 0;
      .header_menu_item_ja, .header_menu_item_en{
        font-size: 1.1rem;
      }
    }
    .header_menu_item:nth-last-child(1){
      width: 21rem;
      margin-inline:auto ;
      margin-bottom: 3rem;
      order: 4;
        .header_menu_item_ja{
          font-size: 1.35rem;
        }
    }
}
  .header_menu_item *{
    text-align: center;
  }
  .header_menu_item_ja{
    letter-spacing: .3rem;
  }
  .header_menu_item{
    padding-block: 1.5rem;
  }
  .header_menu_inner{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-inline: auto;
  }
  .header_menu_mb_fb{
    height: 100%;
    display: flex;
    padding-inline: .5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c08d5e;
    & *{
      color: #fff;
      font-size: 1rem;
    }
  }
  .header_logo{
    width: 9.5rem;
  }
  .header_menu_mb_menu{
    width: 6rem;
    height: 100%;
    display: flex;
    background-color: #743600;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .header_menu_mb_menu_inner{
    position: relative;
    width: 2.3rem;
    height: 1.9rem;
    span{
      position: absolute;
        left: 0;
        width: 2.4rem;
        height: 3px;
        background-color: #fff;
        top: 0;
    }
    span:nth-child(2){
      top: .8rem;
    }
    span:last-child{
      bottom: 0;
      top: unset;
    }
  }
  .header_menu_mb{
    display: flex;
  }
  .header_menu_item_ja{
    margin-bottom: .4rem;
  }
  .header_menu_icon{
    color: #fff;
    width: 6rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c08d5e;
    margin-left: auto;
    position: relative;
    z-index: 1111;
    span{
      position: relative;
      width: 2.4rem;
      height: 2.4rem;
    }
    span::after{
      position: absolute;
      content: "";
      transform: rotate(45deg);
      top: 33%;
        width: 100%;
        height: 3px;
        background: rgba(255, 255, 255, 1);
    }
    span::before{
      position: absolute;
      content: "";
      transform: rotate(-45deg);
      top: 33%;
        width: 100%;
        height: 3px;
        background: rgba(255, 255, 255, 1);
    }
  }
}



/* footer */
.footer{
    padding-top: 3.5rem;
    padding-bottom: 2rem;
    background-color: #000;
}
.footer_top_title{
    font-weight: 500;
}
.footer_top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.footer_top_menu{
    display: flex;
    .footer_top_menu_item:last-child{
      padding-right: 0;
    }
    &.mobile {
      display: none;
    }
    @media screen and (max-width:767px) {
      .mobile {
        display: flex;
      }
    }
}
.footer_top_menu_item{
    transition: all .4s ease;
    padding-inline: 3rem;
    &:hover{
        color: #d1a985;
    }
}
.footer_content_button{
  letter-spacing: .2rem;
  width: 32rem;
  padding-block: 1rem;
  color: #f5ede6;
  transition: all .4s ease;
  position: relative;
  z-index: 888;
    &:hover{
      /* background-color: #743600; */
      &::before{
        opacity: 0;
      }
    }
    &::before{
      background: transparent
    linear-gradient(97deg, #743600 0%, #d1a985 72%, #ae6938 100%) 0% 0%
    no-repeat padding-box;
    z-index: -1;
    position: absolute;
    inset: 0;
    transition: all .4s ease;
    content: "";
    }
    &::after{
      content: "";
      position: absolute;
      inset: 0;
      background-color: #743600;
      z-index: -2;
    }
}
.footer_content{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

@media screen and (max-width:767px) {
  .footer_top_menu{
    display: flex !important;
  }
  .footer_content{
    display: flex;
    flex-direction: column;
  }
  .middle{
    display: none !important;
  }
  .footer_top_title {
    font-size: 1.8rem;
    width: 100%;
  }
  .footer_top{
    margin-bottom: 1.5rem;
  }
  .footer_top_menu{
    row-gap: 2.5rem;
    width: 90%;
    margin-bottom: 4rem;
    flex-wrap: wrap;
    .footer_top_menu_item:first-child{
      width: 100%;
    }
  }
  .footer_top_menu_item{
    width: 50%;
    padding: 0;
    font-weight: bold;
  }
  .footer_content_info{
    margin-bottom: 6rem;
  }
  .footer_content_button{
    width: 100%;
    font-weight: bold;
  }
  .footer_content{
    margin-bottom: 6rem;
  }
  .footer_copyright{
    font-weight: bold;
  }
  .footer_content_info{
    letter-spacing: .2rem;
    font-weight: 500;
  }
}

/* page_title */
.page_title_subtitle{
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.page_title_title{
  font-size: 2.8rem;
}
.page_title{
  .kl_container{
    background: url(/assets/images/pagetitle_bg.png) no-repeat top center;
    background-size: cover;
  }
}
.page_title_line{
  height: 8rem;
  width: 1px;
  margin-bottom: 7rem;
  margin-inline: auto;
  background-color: #ae6938;
}
.page_title_title{
  margin-bottom: 3.5rem;
}
.page_title_des{
  margin-bottom: 7rem;
}
.page_title_img{
  height: 32rem;
  overflow: hidden;
}

@media screen and (max-width:767px) {
  .page_title_line{
    height: 4rem;
    margin-bottom: 2rem;
  }
  .page_title_des {
    margin-bottom: 3.5rem;
  }
  .page_title_img{
    height: 16rem;
  }
}